.navigation {
    background: #3d3c69;
    color: white;
    margin-bottom: 20px;
}
.breadcrumb {
    margin-top: 10px;
    background: inherit;
}
.breadcrumb:hover {
    background-color: inherit;
}
.breadcrumb .nav > li > a:hover {
    background-color: #4f4e81;
}
.breadcrumb .nav > li > a:focus {
    background-color: #4f4e81;
    outline: none;
}
.breadcrumb a {
    color: white;
}
.logo h2 {
    padding-left: 50px;
    margin-top: 25px;
    display: inline-block;
}
.sub-dropdown-menu {
    /*float: left;*/
    font-size: 14px;
    left: 0px;
    list-style: outside none none;
    margin: 0px 0 0;
    min-width: 160px;
    padding: 0px 0;
    text-align: left;
    top: 100%;
    z-index: 1000;
    font-size: 14px;
    list-style: outside none none;
    text-align: left;
}
.sub-dropdown-menu > li > a {
    clear: both;
    color: #333;
    display: block;
    font-weight: 400;
    line-height: 1.42857;
    padding: 0px 20px 4px 35px;
    white-space: nowrap;
}
.sub-dropdown-menu > li > a:hover {
    background-color: #e8e8e8;
    background-image: linear-gradient(to bottom, #f5f5f5 0px, #e8e8e8 100%);
    background-repeat: repeat-x;
    text-decoration: none;
}
.emp-dropdown-menu > li > a:focus, .emp-dropdown-menu > li > a:hover {
    background-color: inherit;
    background-image: none;
    background-repeat: none;
    cursor: default;
}
.form-control-inline {
    width: auto;
    display: initial;
}
.spinner-parent-area {
    position: relative;
    padding-top: 10px;
    display: none;
}
th a, th a:hover, th a:focus {
    color: inherit;
    outline: none;
}
.go-back-btn {
    text-align: center;
}
.bs-docs-nav .navbar-toggle .icon-bar {
    background-color: white;
}
.navbar-toggle {
    margin-top: 26px;
}

.navbar {
    margin: 0;
    padding: 0;
}

.img-main {
    max-width: 100%;
}

.img-ingredient {
    width: 100%;
    max-height: 75px;
}

.img-details {
    width: 100%;
}

a {
    color: inherit;
}
a:hover, a:visited, a:active, a:link {
    text-decoration: none;
    color: inherit;
}

.selected-ingredients {
    margin-top: 1em;
    padding-left: 1em;
}
