<!DOCTYPE html>
<html lang="pl" ng-app="recipesApp">
<head>
  <meta charset="utf-8">
  <title>Helpdesk</title>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.min.js"></script>
  <script src="js/app/app.js"></script>
  <script src="js/app/recipes.service.js"></script>

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>

  <link rel="stylesheet" href="css/twojeprzepisy.css">
  <link rel="stylesheet" href="css/bootstrap-datepicker.css">
  <link rel="shortcut icon" href="http://localhost/helpdesk/public/favicon.ico">

</head>
<body  ng-controller="RecipesController">

<div class="container">

  <header id="top" class="navbar  bs-docs-nav" role="banner">
    <div class="row navigation">
      <div class="navbar-header">
      </div>
      <div class="col-md-4 logo">
        <h2><b>TwojePrzepisy</b></h2>
        <button class="navbar-toggle collapsed" aria-expanded="false" aria-controls="navbar" data-target="#navbar" data-toggle="collapse" type="button">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <div class="col-md-8">
        <nav id="navbar" class="navbar-collapse collapse breadcrumb">
          <div class="">
            <ul class="nav navbar-nav pull-right">
              <li><a href="glowna.html">Strona główna</a></li>
              <li><a href="przepisy.html">Przepisy</a></li>
              <li><a href="dopasuj.html">Dopasuj</a></li>
              <li><a href="kontakt.html">Kontakt</a></li>
              <li><a href="logowanie.html">Zaloguj</a></li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </header>

  <div class="row">
    <div class="col-md-12 col-md-offset-0">
      <h2>Sugestie dnia dla Ciebie!</h2>
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="col-md-4" ng-repeat="recipe in recipes">
            <img ng-src="{{recipe.img}}" class="img-main">
            <h3><a href="szczegoly.html?id={{recipe.id}}">{{recipe.title}}</a></h3>
            <p>
              {{recipe.description}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</body>
</html>
